doctype html
html
  head
    base(href='/')
    script.
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':12345/livereload.js?snipver=1"></' + 'script>')
    link(href='css/style.css', rel='stylesheet')
    meta(name='viewport', content='initial-scale=1')
    script(src='vendors/systemjs/dist/system.js')
    script(src='vendors/angular2/bundles/angular2.dev.js')
    script(src='vendors/angular2/bundles/router.js')
    script(src='vendors/angular2/bundles/http.js')
    script.
        System.config({
            packages: {
                'js': {
                    main: 'RootComponent/RootComponent.js',
                    format: 'cjs',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('js');
    title derwent.io - bobo
  body(layout="column")
    block content